@font-face {
	font-family: 'OpenSans';
	src: url('../font/OpenSans-Regular.ttf');
}

body
{
	background-color: #e9e9e9;
	font-family: 'OpenSans';
}

a, a:hover
{
	text-decoration: none;
}

header
{
	height: 70px;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #222;
	z-index: 30;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
}

header a
{
	color: #fff;
	font-weight: bold;
}

header a:hover
{
	color: #EFBB12;
}

#logo
{
	width: 210px;
}

.container
{
	background-color: #EFEFEF;
	box-shadow: 0px 0px 3px black;
	padding: 80px 2% 1px 2%;
	min-height: 95vh;
}

footer
{
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-color: #222;
	padding-bottom: 1%;
	color: #fff;
}

#presentationText
{
	font-size: 14px;
}

#slider
{
	height: 400px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.illustratedPost
{
	box-shadow: 0 0 3px black;
	overflow: hidden;
	width: 32.5%;
	position: relative;
	transition: transform 0.3s;
}

.illustratedPost:hover
{
	transform: scale(1.12);
	z-index: 10;
}


.illustratedPost img
{
	height: 200px;
}

figcaption
{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 33.33%;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
	transition: opacity 0.3s;
}

figure:hover figcaption
{
	opacity: 1;
}

figcaption p
{
	margin-left: 5px;
	color: white;
	font-weight: bold;
}

#titleSection
{
	font-weight: 900;
	font-size: 22px;
}

#listLastPosts
{
	box-shadow: 0 0 3px black;
	padding: 0;
	background-color: #333;
}

#listLastPosts a
{
	color: #fff;
}

#listLastPosts a:hover
{
	color: #EFBB12;
}

.post p
{
	margin: 0;
	width: 100%;
	padding: 0.5% 1% 0 1%; 
	height: 40px;
}

.post
{
	transition: all 0.2s;
}

.post:hover
{
	background-color: #111;
}

.categoryPost
{
	display: inline-block;
	color: #EFBB12;
	width: 20%;
}

.dateInListPost
{
	color: #fff;
}

#postBlock
{
	width: 80%;
	margin: 0 auto;
	margin-top: 20px !important;
	background-color: #333;
	box-shadow: 0 0 5px black;
	color: #fff;
}

#postText
{
	text-align: justify;
	padding: 3% 10% 5% 10%;
	font-size: 18px;
}

#postText h1
{
	color: #EFBB12;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 34px;
}

#imagePost
{
	width: 90%;
	box-shadow: 0 0 4px black;
	position: relative;
	left: 5%;
}

#metaDataPost
{
	font-size: 16px;
	color: #CCC;
}

.postComment
{
	background-color: #fff;
	border: .0625rem solid #d5d5d5;
	padding: 1%;
	margin-bottom: .9375rem;
}

form
{
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
}

.button
{
	background-color: #EFBB12;
	border: none;
	color: white;
	font-weight: bold;
	padding: 1% 3% 1% 3%;
	border-radius: 5px;
	margin: 1% 0 5% 0;
	width: 140px !important;
}

form .button:hover
{
	background-color: #DEAA01;
}

.postComment
{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 1.5%;
}

.loginPanel
{
	background-color: #333;
	box-shadow: 0 0 3px black;
	margin: 0 auto;
	margin-top: 5% !important;
}

.loginPanelTitle
{
	font-weight: bold;
	color:#EFBB12;
	font-size: 24px;
	margin-left: 1%;
}

hr
{
	background-color: #EFBB12;
	height: 1px;
}

.loginPanel form
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logField
{
	width: 100%;
}

.logField label
{
	width: 45%;
	color: white;
	font-weight: bold;
}

.logField input
{
	width: 55%;
}

.loginPanel form .button
{
	margin-bottom: 3%;
}

.rememberMeCheckbox label
{
	color: white;
	margin-left: 3px;
}

#error
{
	background: #EFCAD0;
	width: 30%;
	padding: 1%;
	border-radius: 5px;
	border: 1px solid red;
	margin: 0 auto;
	margin-top: 3% !important;
	font-weight: bold;
	text-align: center;
	box-shadow: 0 0 2px black;
}

p
{
	margin-bottom: 0;
}